﻿body {
}

h1 {
    background-color: dodgerblue;
    color: white;
    margin-left: 0%;
    height: 8%;
    width: 100%;
    margin-top: 0%;
    font-size-adjust: initial;
    font-size: 200%;
}

.menu {
    margin-left: 50%;
    width: 31%;
    height: 8%;
}

.mapaGoogle {
    width: 60%;
    height: 70%;
    position: relative;
    overflow: hidden;
    margin-left: 38%;
}

.btn btn-default {
    margin-left: -5%;
}
